/*****JS-Dom-Todo-App*****/
*{
    background-color: #ffffff;
    box-sizing: border-box;
}

.container {
    padding: 25px;
    max-width: 760px;
    margin: 25px auto;
    overflow: hidden;
    border-radius: 25px 2px;
    border: 5px solid brown;
    font-family: sans-serif;
}

.logo{
    width: 100px;
    margin-left: 300px;
    border-radius: 50px;
}

.logo img{
    width: 100px;
    border-radius: 50px;
}

h1, h2{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #57635c;
}

.new-task-container {
    text-align: center;
}

h2{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid brown;
    padding: 0 0 10px;
    color: #57635c;
}

.box {
    padding: 10px 15px;
    border: 2px solid brown;
    border-radius: 5px;
    background: #fff;
    margin: 15px 0;
}

.todo-list{
    border: 1px solid brown;
    float: left;
    width: 45%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px dotted brown;
}

.complete-list{
    border: 1px solid brown;
    float: right;
    width: 45%;
}

.delete {
    float: right;
    background-color: brown;
    color: white;
    border: 0px;
    padding: 3px 5px;
}
